---
layout: default
---

<div class="home">


  {{ content }}

  <h2>Getuigenissen</h2>
  <ul class="post-list">
    {% for post in site.testimonials %}
      <li>
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.student | escape }}</a>
          </h2>
      </li>
    {% endfor %}
  </ul>

  <h2>Blog posts</h2>
  <ul class="post-list">
    {% for post in site.posts limit:3 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
