---
layout: default
---

<div class="home">


  {{ content }}


  <!--Testimonials-->
  <section id="testimonial" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2 class="white">Getuigenissen</h2>
        </div>
        {% assign posts = site.testimonials |reverse%}
        {% for post in posts | limit:2  %}
        <div class="col-md-6 col-sm-6">
          <div class="text-comment">
            <p class="text-par">{{post.content}}</p>
            <p class="text-name">{{ post.student | escape }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/ Testimonial-->

  <!--Courses-->
  <section id ="courses" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Vakken</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 padleft-right">
          <figure class="imghvr-fold-up">
            <img src="img/statistiek.png" class="img-responsive">
            <figcaption>
                <h3>Statistiek</h3>
                <p>Toevalsvariabele, hypothese, parameterschatting, betrouwbaarheidsinterval, correlaties, ... zijn basisbegrippen van statistiek.</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-4 col-sm-6 padleft-right">
          <figure class="imghvr-fold-up">
            <img src="img/wiskunde.jpg" class="img-responsive">
            <figcaption>
                <h3>Wiskunde</h3>
                <p>Wiskunde is de basis van alles, dus die moet zeker vlot in de vingers zitten! Soms zijn enkele zaken niet duidelijk, en dat maakt het moeilijk om andere vakken beter te kunnen volgen.</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-4 col-sm-6 padleft-right">
          <figure class="imghvr-fold-up">
            <img src="img/keyboard.jpg" class="img-responsive">
            <figcaption>
                <h3>Informatica</h3>
                <p>Informatica is de verzamelnaam voor de verschillende aspecten van informatieverwerking. Dat betekent veel theorie en oefeningen in uiteenlopende disciplines.</p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!--/ Courses-->
  <!--work-shop modified to blog post-->
  <section id="blog" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Blog</h2>
        </div>
        {% assign blogposts = site.posts  %}
        {% for blog in blogposts limit:3 %}
          <div class="col-md-4 col-sm-6">
            <div class="service-box text-center">
              <div class="icon-text">
                <h4 class="ser-text">{{ blog.title | escape }}</h4></a>
                <div>{{blog.content | strip_html | truncatewords:10}}</div>
                <a class="post-link" href="{{ blog.url | relative_url }}">Lees meer</a>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="text-center"><a href="blog.html">Alle andere blog posts.</a></div>
      </div>
    </div>
  </section>
  <!--/ work-shop-->

<div class="container">
  <div class="row">
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  </div>
</div>

</div>
